--- 
layout: default 
---

<nav>
  <ul>
    {% for node in site.posts reversed %} {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
    <li class="p-{{id}}"><a href="#{{id}}" style="text-decoration:none;color: white;" >{{node.title}}</a></li>
    {% endfor %}
  </ul>
</nav>

{% for page in site.posts reversed %}
    {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
    <!--style="background-image:url({{ post.bg-img }});" This line gets and sets the bg image of page-->
    <div id="{{id}}" class="section p-{{id}}" style="background-image:url({{ page.bg-img }});background-repeat: no-repeat;">
        <div class="container {{ page.style }}">
            {{ page.content }}
        </div>
    </div>
{% endfor %}