<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for event in site.events %}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ event.url }}" class="portfolio-box">
                        <img src="{{ event.image }}" class="img-responsive" alt="Event Image">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ event.subtitle }}
                                </div>
                                <div class="project-name">
                                    {{ event.title }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>