<div id="reg" style="background-color: #1de9b6; padding: 20px;">
    <div id="reg-msg">
        <h4>Hey There! Thanks for showing interest in participating in IngeNUity 2017.<br>
            Contact our PR team at <a href="mailto:pr@ingenuityfest.in">pr@ingenuityfest.in</a>
                 or Pusker on <a href="tel:+91">+91</a><br><br>
            See you at the Rocambolesque fest!</h4>
    </div>
    <br>
    <div id="reg-btn" style="text-align:center">
        <a class="btn btn-default btn-lg" target="_blank" href="http://www.google.com/">Register Now</a>
    </div>
</div>