<div id="reg" style="background-color: #1de9b6; padding: 20px;">
    <div id="reg-msg">
        <h4>Hey There! Thanks for showing interest in participating in IngeNUity 2017.<br>
            Contact our PR team at <a class="hot-link" href="mailto:pr@ingenuityfest.in">pr@ingenuityfest.in</a>
                 <br><br>Pusker: <a class="hot-link" href="tel:+918130276901">+91-8130276901</a><br>
                     Saloni: <a class="hot-link" href="tel:+919650109596">+91-9650109596</a><br><br>
            See you at the Rocambolesque fest!</h4>
    </div>
    <br>
    <div id="reg-btn" style="text-align:center">
        <h3>Register Now at</h3><a href="https://insider.in/ingenuity-mar3-5-2017/event" class="btn btn-info btn-lg" target="_blank">
            <img src="img/spo/logo.png" class="pull-left"/></a>
    </div>
</div>

<!--Register Now at     <a class="btn btn-default btn-lg" target="_blank" href="https://insider.in/ingenuity-mar3-5-2017/event"></a>
    -->