<img src="img/spo-w/1.png" alt="Partner" class="center-image pad-spo">

<div align="center"><img class="pad-spo" src="img/spo-w/2.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/3.png" alt="Partner" >
<img class="pad-spo" src="img/spo-w/4.png" alt="Partner"></div>
<div align="center"><img class="pad-spo" src="img/spo-w/5.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/6.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/7.png" alt="Partner"></div>
<div align="center"><img class="pad-spo" src="img/spo-w/8.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/9.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/10.png" alt="Partner"></div>
<div class="pad-spo" align="center"><img src="img/spo-w/11.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/12.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/13.png" alt="Partner"></div>
<div class="pad-spo" align="center"><img src="img/spo-w/14.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/15.png" alt="Partner">
<img class="pad-spo" src="img/spo-w/16.png" alt="Partner"></div>