
<a href="https://wforwoman.com/" target="_blank"><img src="img/spo-w/1.png" alt="Partner" class="center-image pad-spo"></a>

<div class="pad-spo" align="center">
    <a href="https://www.nearbuy.com/" target="_blank"><img class="pad-spo" src="img/spo-w/2.png" alt="Partner"></a>
    <a href="http://www.dominos.co.in/" target="_blank"><img class="pad-spo" src="img/spo-w/6.png" alt="Partner"></a>
    <a href="https://www.mylescars.com/" target="_blank"><img class="pad-spo" src="img/spo-w/3.png" alt="Partner" ></a>
</div>

<div class="pad-spo" align="center">
    <a href="http://www.thelosttribehostels.com/" target="_blank"><img class="pad-spo" src="img/spo-w/5.png" alt="Partner"></a>
    <a href="https://www.oyorooms.com/" target="_blank"><img src="img/spo-w/20.png" alt="Partner"></a> 
    <a href="http://oml.in/" target="_blank"><img class="pad-spo" src="img/spo-w/19.png" alt="Partner"></a>
</div>

<div class="pad-spo" align="center">
    <a href="http://www.abraxasnu.com/" target="_blank"><img src="img/spo-w/11.png" alt="Partner"></a>
    <a href="https://www.brainbuxa.com/" target="_blank"><img class="pad-spo" src="img/spo-w/12.png" alt="Partner"></a>
    <a href="https://www.adda52.com/" target="_blank"><img class="pad-spo" src="img/spo-w/13.png" alt="Partner"></a>
</div>
    
<div class="pad-spo" align="center">
    <a href="https://www.hackerearth.com/" target="_blank"><img class="pad-spo" src="img/spo-w/7.png" alt="Partner">
     <a href="http://www.team4adventure.com/" target="_blank"><img src="img/spo-w/14.png" alt="Partner"></a>
    <a href="http://www.dcop.in/" target="_blank"><img class="pad-spo" src="img/spo-w/16.png" alt="Partner"></a>


<div class="pad-spo" align="center">
    <a href="https://<insid></insid>er.in/" target="_blank"><img src="img/spo-w/17.png" alt="Partner"></a>
    <a href="https://www.nescafe.com/" target="_blank"><img src="img/spo-w/21.png" alt="Partner"></a>
    <a href="http://www.keventers.com/" target="_blank"><img src="img/spo-w/22.PNG" alt="Partner"></a>
</div>

<div class="pad-spo" align="center">
    <a href="http://www.csi-india.org/" target="_blank"><img class="pad-spo" src="img/spo-w/8.png" alt="Partner"></a>
    <a href="https://www.mozilla.org/en-US/" target="_blank"><img class="pad-spo" src="img/spo-w/18.png" alt="Partner"></a>
    <a href="https://pythonexpress.in/" target="_blank"><img class="pad-spo" src="img/spo-w/10.png" alt="Partner"></a>
</div>

<div class="pad-spo" align="center">
      <a href="https://www.thesouledstore.com/" target="_blank"><img class="pad-spo" src="img/spo-w/4.png" alt="Partner"></a>
   </div>