<a href="https://wforwoman.com/"><img src="img/spo-w/1.png" alt="Partner" class="center-image pad-spo"></a>

<div align="center">
    <a href="https://www.nearbuy.com/"><img class="pad-spo" src="img/spo-w/2.png" alt="Partner"></a>
    <a href="https://www.mylescars.com/"><img class="pad-spo" src="img/spo-w/3.png" alt="Partner" ></a>
    <a href="https://www.thesouledstore.com/"><img class="pad-spo" src="img/spo-w/4.png" alt="Partner"></a></div>

<div align="center">
    <a href="http://www.thelosttribehostels.com/"><img class="pad-spo" src="img/spo-w/5.png" alt="Partner"></a>
    <a href="http://www.dominos.co.in/"><img class="pad-spo" src="img/spo-w/6.png" alt="Partner"></a>
    <a href="https://www.hackerearth.com/"><img class="pad-spo" src="img/spo-w/7.png" alt="Partner"></a></div>
<div align="center">
    <a href="http://www.csi-india.org/"><img class="pad-spo" src="img/spo-w/8.png" alt="Partner"></a>
    <a href="https://www.redhat.com/en"><img class="pad-spo" src="img/spo-w/9.png" alt="Partner"></a>
    <a href="https://pythonexpress.in/"><img class="pad-spo" src="img/spo-w/10.png" alt="Partner"></a></div>

<div class="pad-spo" align="center">
    <a href="http://www.abraxasnu.com/"><img src="img/spo-w/11.png" alt="Partner"></a>
    <a href="https://www.brainbuxa.com/"><img class="pad-spo" src="img/spo-w/12.png" alt="Partner"></a>
    <a href="https://www.adda52.com/"><img class="pad-spo" src="img/spo-w/13.png" alt="Partner"></a></div>
<div class="pad-spo" align="center">
    <a href="http://www.team4adventure.com/"><img src="img/spo-w/14.png" alt="Partner"></a>
    <a href="http://utkraanti.com/"><img class="pad-spo" src="img/spo-w/15.png" alt="Partner"></a>
    <a href="http://www.dcop.in/"><img class="pad-spo" src="img/spo-w/16.png" alt="Partner"></a></div>