<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for member in site.members %}
                <div class="col-lg-4 col-sm-6">
                    <a target="_blank" href="{{ member.link }}" class="portfolio-box">
                        <img src="{{ member.image }}" class="img-responsive" alt="member Image" height="250px" width="250px">
                        <div class="portfolio-box-caption" style="border-radius: 900px; height: 250px; width:250px;">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    {{ member.title }}
                                </div>
                                <div class="project-name">
                                    {{ member.subtitle }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>
</section>