<div align="center">
    
        <a title="Ajeya Kapoor" href="https://www.facebook.com/ajeya.kapoor" target="_blank">
        <img class="pad-spo " src="img/team/a.png" alt="Team Member"></a>

        <a href="https://www.facebook.com/oscarlimafoxtrot" target="_blank">
        <img class="pad-spo" src="img/team/k.png" alt="Team Member" ></a>

        <a href="https://www.facebook.com/jatin.kakkar.vns" target="_blank">
        <img class="pad-spo" src="img/team/j.png" alt="Team Member"></a>


</div>

<div align="center">
    
        <a href="https://www.facebook.com/nirali.sampat06" target="_blank">
        <img class="pad-spo" src="img/team/n.png" alt="Team Member"></a>

        <a href="https://www.facebook.com/shashank.stark.3" target="_blank">
        <img class="pad-spo" src="img/team/s.png" alt="Team Member"></a>

</div>