<div class="row">
    <div class="row-xs-12 row-sm-3 row-md-3 row-lg-3 row1-header">
        <div class="timer_div">
            <div id="clockdiv">
                    <div class="clockdiv-bg">
                        <span class="days aclonica">99</span>
                        <span class="aclonica">:</span>
                    </div>
                    <div class="clockdiv-bg">
                        <span class="hours aclonica">99</span>
                        <span class="aclonica">:</span>
                    </div>
                    <div class="clockdiv-bg">
                        <span class="minutes aclonica">99</span>
                        <span class="aclonica aclonica">:</span>
                    </div>
                    <div class="clockdiv-bg">
                        <span class="seconds aclonica">99</span>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="js/timer.js"></script>-->