<div class="row">
    <div class="row-xs-12 row-sm-3 row-md-3 row-lg-3 row1-header">
        <div class="timer_div">
            <div id="clockdiv">
                    <span class="days clockdiv-bg"></span>
                    <div class="clockdiv-bg">:</div>
                    <span class="hours clockdiv-bg"></span>
                    <div class="clockdiv-bg">:</div>
                    <span class="minutes clockdiv-bg"></span>
                    <div class="clockdiv-bg">:</div>
                    <span class="seconds clockdiv-bg"></span>
            </div>
        </div>
    </div>
</div>
<script src="js/timer.js"></script>