.sm-padding {
    padding: 10px;
}
.sm-hover:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    /*background: yellowgreen;    */
}