<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  {% include meta.html %}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" />
  {% include favicon.html %}
  <link rel="stylesheet" href="combo.css">
</head>

<body>
  <div id="main">

    {{ content }}

    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %} {{ foottext | markdownify }}
      </div>
    </div>
  </div>

  {% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/site.js"></script>

</html>